server {

  listen 80;
  server_name http_{{ hostvars[inventory_hostname]['ansible_hostname'] | default('_') }};
  return 301  https://$host$request_uri;

}
server {

  listen 443 ssl default_server;
  server_name https_{{ hostvars[inventory_hostname]['ansible_hostname'] | d('_')}};


  ssl_certificate       /etc/letsencrypt/live/{{ hostvars[inventory_hostname]['ansible_hostname'] }}/fullchain.pem ;
  ssl_certificate_key   /etc/letsencrypt/live/{{ hostvars[inventory_hostname]['ansible_hostname'] }}/privkey.pem ;

  root {{ ROOT_DIR | default('/var/www/html/') }};
  index index.php;
  access_log {{ LOG_DIR | default('/var/log/nginx/') }}access.log;
  error_log {{ LOG_DIR | default('/var/log/nginx/') }}error.log;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    try_files $uri = 404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    include fastcgi_params;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS on;
    fastcgi_pass unix:/run/php-fpm/www.sock;
  }
   
}