# {{ ansible_managed }}
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ec2_node'
    ec2_sd_configs:
      - region: '{{ aws_region }}'
        access_key: '{{ aws_access_key }}'
        secret_key: '{{ aws_secret_key }}'
        port: 9100
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance
